.contactBackgroundStrip {
    background-image: url(../creative-assets/contact-1.jpeg);
    height: 185px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact h2 {
    font-weight: bold;
    letter-spacing: 0.9px;
    font-size: 37px;
}

.contactFirst h1 {
    letter-spacing: $frequentLetterSpacing;
    font-size: 40px;
    font-weight: bold;
    width: 30px;
    transform: translateY(-91px);
    margin-bottom: 0px;
    border-top: 3px solid black;
    padding-top: 23px;
    margin-top: 0px;
}

.pHalfWidth p {
    letter-spacing: $frequentLetterSpacing;
    font-size: 14px;
    margin-top: 0px;
}

.contactOptionsParent {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.contactOptionsParent i {
    font-size: 30px;
}

.contactOptionsParent > div:nth-child(1) {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactOptionsParent .borderLeft {
    border-left: $lightBorder;
    padding-left: 56px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactOptionsParent p {
    line-height: 9px;
    color: grey;
}

.contactOptionsParent h5 {
    letter-spacing: $frequentLetterSpacing;
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 3.4px;
    font-weight: 500;
}

.commentLeave h3 {
    font-weight: bold;
    letter-spacing: $frequentLetterSpacing;
    padding-top: 40px;
}

.commentLeave p {
    color: grey;
    padding-bottom: 35px;
    margin-top: 0px;
}

.contact h3 {
    border: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding-bottom: 5px;
    font-weight: 500;
}

.submit.contact {
    width: 119px;
}

section.wrapper:nth-child(2) > p:nth-child(3) {
    width: 50%;
    color: grey;
}