html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
    line-height: 0;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

p {
    font-family: $smallFont;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: $frequentLetterSpacing;
    font-weight: regular;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $largeFont;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
}