nav li a {
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
}

nav li a:hover,
nav li a:focus-within {
    border-bottom: 1px solid black;
}

.commonParent li {
    margin-right: 8px;
    margin-left: 8px;
}

.commonParent,
.commonParent ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul a,
nav ul i {
    margin-right: 10px;
    margin-left: 10px;
}

.hamburger-menu {
    position: relative;
    visibility: hidden;
}

.fa.fa-bars {
    position: absolute;
    color: black;
}

header.home {
    background-image: url(../creative-assets/home-1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    font-weight: bold;
    letter-spacing: 0.9px;
    font-size: 37px;
}

nav ul a {
    font-family: $largeFont;
    font-weight: 400;
    letter-spacing: $frequentLetterSpacing;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

nav ul i {
    font-size: 14px;
}

.shoppingParent {
    display: flex;
}

.shoppingParent > i:nth-child(1) {
    position: relative;
}

.smallCart > p:nth-child(1) {
    position: absolute;
    top: 0px;
    right: -8px;
    background-color: #C3DAB7;
    border-radius: 50%;
    font-size: 8px;
    line-height: 1;
    padding: 3px 4.5px 3px 4.5px;
    font-family: $largeFont;
}

.fa-search,
.fa-shopping-bag {
    font-size: 16px;
}

.imagesFirstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
}

.firstHome {
    padding-bottom: 125px;
    background-color: #C3DAB7;
}

.line {
    height: 110px;
    width: 50%;
    transform: translateY(-55px);
    border-right: 1.5px solid rgba(73, 71, 71, 0.3);
}

.circle {
    transform: translate(-215px, 151px);
    z-index: 1;
}


.secondLine {
    width: 50%;
    border-right: $lightBorder;
    height: 55px;
}

.calendar {
    padding-bottom: 50px;
    z-index: -0.5;
    position: relative;
}

.firstHome h2 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    z-index: -1;
    font-weight: 500;
}

.firstHome p,
.secondSection p {
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.secondSection {
    display: flex;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 125px;
}

.topless img {
    border-radius: 50%;
    margin: 0 auto;
}

.topless {
    padding-bottom: 40px;
}

.italicText p {
    text-align: center;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    font-style: italic;
    color: #4f4b4b;
}

.fas.fa-chevron-left,
.fas.fa-chevron-right {
    font-size: 35px;
}

.thirdSection {
    background-image: url(../creative-assets/home-4.jpeg);
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: right;
}

.thirdSection p {
    width: 200px;
    color: #4f4b4b;
}

.thirdSection h3 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 13px;
}

.list {
    display: flex;
    justify-content: flex-end;
}

.list ul {
    width: 357px;
}

.list .fas.fa-magic,
.list .fas.fa-tv,
.list .fas.fa-sliders-h,
.list .fas.fa-search,
.list .fas.fa-shopping-bag,
.list .far.fa-smile {
    height: 100%;
    font-size: 27px;
}

.littleCircle {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid black;
    margin-right: 33px;
    margin-bottom: 42px;
}

.imageList {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gridWrapper {
    display: grid;
    grid-template-rows: 270px 270px;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 20px;
    justify-content: center;
}

.one {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #f6f6f6;
}

.seven {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourthSection h2 {
    font-size: 27px;
    line-height: 24px;
    text-align: center;
    padding-top: 40px; 
    padding-bottom: 80px;
}

.fourthSection p {
    text-align: left;
    margin: 0 40px 40px 40px;
}

.fourthSection h3 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: 200px;
    color: #4f4b4b;
} 

.one > h3:nth-child(1) {
    margin-left: 22px;
    color: #4f4b4b;
}

.one > p:nth-child(2) {
    color: #4f4b4b;
}

.fifthSection {
    display: flex;
    margin-top: 150px;
}

.fifthSection .green {
    width: 50%;
    background-color: #C3DAB7;
}

.fifthSection .picture {
    width: 50%;
}

.green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
}

.fifthSection h3 {
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    color: #4f4b4b;
}

.fifthSection p {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 25px;
    margin: 0 auto;
    color: #4f4b4b;
}

.button {
    color: black;
    background-color: white;
    border: none;
    padding: 19px 19px;
    font-family: $smallFont;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 193px;
    font-weight: 600;
    font-family: 'Montserrat';
    letter-spacing: 0.4px;
}

.button a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #303030;
    padding-top: 130px;
    padding-bottom: 60px;
}

.address > p:nth-child(1) {
    line-height: 1.75;
    padding-bottom: 16px;
}

.form > label:nth-child(1) > p:nth-child(2) {
    padding-bottom: 18px;
}

footer p {
    text-align: left;
    color: white;
    line-height: 1.15;
}

footer h4 {
    font-size: 18px;
    line-height: 24px;
    color: white;
    padding-bottom: 12px;
}

h4.middle {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: center;
}

.iconParent {
    display: flex;
    justify-content: flex-start;
}

.iconParent i {
    padding-right: 20px;
    font-size: 16px;
    color: white;
}

.dots {
    margin-top: 29px;
}

ul.dots {
    list-style-type: disc;
    color: white;
} 

.footerParent {
    display: flex;
    justify-content: space-between;
}

form h4 {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: right;
    letter-spacing: 1.8px;
}

form p {
    color: white;
    letter-spacing: 0.3px;
    line-height: 1.15px;
}

.form > p:nth-child(2) {
    padding-top: 12px;
    padding-bottom: 20px;
}

form.form input[type=text] {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #303030;
  border-right: none;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 42px;
}

.fas.fa-long-arrow-alt-right {
    color: black;
}

form.form button {
  float: left;
  width: 20%;
  padding: 10px;
  background:#C3DAB7;
  color: white;
  font-size: 17px;
  border: 1px solid #303030;
  border-left: none; 
  cursor: pointer;
  height: 42px;
}

form.form button:hover {
  opacity: 0.5;
}

form.form::after {
  content: "";
  clear: both;
  display: table;
}

p.bottom {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 6px;
    margin-top: 130px;
    border-top: 1px solid rgba(244, 240, 240, 0.25);;
    padding-top: 80px;
    transform: scale(1, 0.9);
}

.end {
    background-color: black;
    height: 40px;
}