@media(max-width: 1306px) {
    .threePicturesParent {
        justify-content: center;
    }

    .threePics {
    width: calc(33.33% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}
}

@media(max-width: 1209px) {
    .commonParent li {
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .gridWrapper {
    display: grid;
    grid-template-rows: 240px 240px;
    grid-template-columns: 240px 240px 240px 240px;
    grid-gap: 20px;
    justify-content: center;
    }

    .one {grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    }

    .fourthSection p {
        margin: 0 40px 20px 40px;
    }

}

@media(max-width: 1067px) {
    .commonParent li {
        margin-right: 3px;
        margin-left: 3px;
    }
    
    .gridWrapper {
        display: grid;
        grid-template-rows: 270px 270px;
        grid-template-columns: 270px 270px;
        grid-gap: 40px;
        justify-content: center;
    }

    .one {grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    }

    .threePics {
        width: calc(33.33% - 10px);
        margin-right: 5px;
        margin-left: 5px;
    }
    
}

@media(max-width: 944px) {
    .commonParent nav {
        display: none;
    }

    .hamburger-menu {
        visibility: visible;
        // position: fixed;
    }

    .navVisible {
        visibility: visible;
        left: 0;
        position: fixed;
    }

    nav {
        visibility: hidden;
        left: 100vw;
        width: 100%;
        position: fixed;
        background-color: black;
        transition: all 0.5s ease;
        z-index: 3;
        transform: translateY(-14px);
    }

    .hamburger-menu ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger-menu ul li {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .hamburger-menu a {
        color: white;
    }

    .hamburger-menu a:hover,
    .hamburger-menu a:focus-within {
        border-bottom: 1px solid white;
    }

    .home.fa.fa-bars {
        right: 12px;
        top: -59px;
        font-size: 26px;
    }

    .home.fas.fa-times {
        top: -11px;
        right: 12px;
        font-size: 30px;
        color: white;
        z-index: 4;
    }

    .firstHome {
        padding-bottom: 90px;
    }

    .imagesFirstSection {
        margin-top: -205px;
    }

    footer p {
        font-size: 14px;
    }

    footer h4 {
        font-size: 16px;
        padding-bottom: 0px;
    }

    h4.middle {
        font-size: 16px;
    }

    .secondSection {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .thirdSection {
        height: 80vh;
    }

    .green {
        padding-right: 40px;
        padding-left: 40px;
    }

    .fourthSection h2 {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .imageList {
        padding-bottom: 0;
        padding-top: 0;

    }

    .fifthSection {
        margin-top: 100px;
    }

    .fifthSection p {
        padding-bottom: 25px;
        padding-top: 5px;
    }

    .blogPage h1 {
        font-size: 44px;
    }

    div.blogTop {
        margin-left: 35px;
    }

    .blogTop p {
        padding-bottom: 15px;
        margin-top: 6px;
    }

    .rightBlogParent {
        margin-left: 20px;
    }

    .contactOptionsParent {
        padding-top: 23px;
    }

    .contactOptionsParent .borderLeft {
        padding-left: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .contactOptionsParent > div:nth-child(1) {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footerParent {
        display: block;
        margin: 0 auto;
    }

    .iconParent {
        display: flex;
        justify-content: center;
    }

    .iconParent i {
        padding-right: 5px;
        padding-left: 5px;
    }

    ul.dots {
        list-style-type: none;
    }

    footer {
        padding-top: 60px;
        padding-bottom: 45px;
    }

    p.bottom {
        margin-top: 70px;

    }

    .centerForm {
        display: flex;
        justify-content: center;
    }

    form.form input[type="text"]{
        width: 35%;
    }

    form.form button {
        width: 7%;
    }

    footer h4 {
        text-align: center;
        padding-top: 18px;
    }

    footer p {
        font-size: 14px;
        text-align: center;
    }

}

@media(max-width: 791px) {
    //home
    header.home {
        height: 85vh;
    }

    .home h1 {
        font-size: 35px;
    }

    .home.fa.fa-bars {
        top: -56px;
        font-size: 26px;
        right: 12px;
    }

    .home.fas.fa-times {
        top: -58px;
    }

    .contact .fa.fa-bars {
        top: -65px;
    }

    .circle > img:nth-child(1) {
        width: 80%;
    }

    .circle {
    transform: translate(-180px, 128px);
    z-index: 1;
    }

    .calendar {
        padding-bottom: 35px;
    }

    .calendar > img:nth-child(1) {
        width: 95%;
        margin: 0 auto;
    }

    .firstHome h2 {
        font-size: 16px;
    }

    .firstHome p, 
    .secondSection p {
        width: 57%;
    }

    p {
        font-size: 14px;
    }

    .fas.fa-chevron-left, 
    .fas.fa-chevron-right {
        font-size: 30px;
    }

    .topless img {
        width: 40%;
    }

    .imagesFirstSection {
        margin-top: -175px;
    }

    .firstHome {
        padding-bottom: 70px;
    }

    .secondSection {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .littleCircle {
        min-width: 50px;
        min-height: 50px;
        margin-right: 22px;
        margin-bottom: 53px;
    }

    .thirdSection h3 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .fourthSection h2 {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .list .fas.fa-magic, .list .fas.fa-tv, .list .fas.fa-sliders-h, .list .fas.fa-search, .list .fas.fa-shopping-bag, .list .far.fa-smile {
        font-size: 24px;
    }

    .list ul {
        width: 320px;
    }

    .fourthSection h2 {
        font-size: 25px;
    }

    .fourthSection h3 {
        font-size: 16px;
    }

    .one > h3:nth-child(1) {
        margin-left: 4px;
    }

    .fourthSection p {
        margin: 0 30px 10px 30px;
    }

    .fifthSection {
        margin-top: 70px;
    }

    .fifthSection h3 {
        font-size: 20px;
        line-height: 15px;
    }

    .button {
        font-size: 13px;
    }

    
    // blog
    header.blog {
        height: 85vh;
    }

    .blogPage h2 {
        font-size: 35px;
    }

    .blogPage h1 {
        font-size: 38px;
    }

    section.wrapper:nth-child(1) > p:nth-child(2) {
        padding-bottom: 25px;
    }

    .blogText .bold {
        margin-top: 35px;
    }

    .rightBlogParent {
        margin-left: 0;
    }

    div.blogTop {
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    .blogTop p {
        padding-left: 0px;
        padding-right: 0px;
    }

    .bigBlogParent {
        flex-direction: column;
    }

    .alexPicture {
        display: flex;
        align-items: center;
    }

    .alexPicture img {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .alexPicture,
    .blogParent > div:nth-child(2) {
        margin-right: 0px;
        margin-left: 0px;
    }

    .alexPicture > img:nth-child(1) {
        width: 60px;
        height: 60px;
    }

    .blogParent {
        margin: 0 auto;
    }

    .blogText p {
        margin-top: 15px;
    }

    .blogFirst h4 {
        margin-top: 33px;
    }

    .blogSecond {
        margin-top: 25px;
    }

    .blogPage h3 {
        margin-top: 10px;
    }

    .blogPage h3, 
    
    .commentLeaving h3 {
        font-size: 27px;
    }

    .contactParent {
        margin-top: 40px;
    }

    

    // contact

    .contact h3,
    .commentLeave h3 {
        font-size: 16px;

    }

    .commentLeave p {
        padding-bottom: 12px;
    }

    .contactFirst h1 {
        font-size: 37px;
    }

    section.wrapper:nth-child(2) > h3:nth-child(2) {
        padding-bottom: 0px;
    }

    .contactOptionsParent {
        padding-top: 19px;
    }

    .contactOptionsParent i {
        font-size: 27px;
    }

    .commentLeave h3 {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .submit {
        margin-bottom: 70px;
    }
}   

@media(max-width: 775px) {
    // contact
    .contactOptionsParent {
        flex-direction: column;
        align-items: center;
    }

    .contactOptionsParent .borderLeft {
        border-left: none;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactOptionsParent > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.wrapper:nth-child(3) > h3:nth-child(1),
    section.wrapper:nth-child(2) > h3:nth-child(2),
    section.wrapper:nth-child(2) > p:nth-child(3),
    .blogPage h3,
    .commentLeave p {
        text-align: center;
    }

    .threePictureParent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .threePics {
        width: 250px;
        margin-left: 0;
        margin-right: 0;
    }

    .threePictureParent p {
        margin-bottom: 35px;
    }

    section.wrapper:nth-child(2) > p:nth-child(3) {
        width: 100%;
    }
}

@media(max-width: 681px) {
   .imagesFirstSection {
       margin-top: -131px;
   }
   
    .fa.fa-bars {
       top: -56px;
       font-size: 26px;
       right: 12px;
   }

   .home.fa.fa-bars {
       top: -56px;
   }

   .contact .fa.fa-bars {
       top: -65px;
       font-size: 26px;
       right: 12px;
   }

   .circle > img:nth-child(1) {
        width: 60%;
    }

    .circle {
    transform: translate(-160px, 97px);
    z-index: 1;
    }

   .list ul {
       width: 100%;

   }

   .thirdSection p {
       width: 100%;
   }

   .secondSection {
       padding-top: 0;
       padding-bottom: 55px;
       margin-bottom: 0px;
   }

   .commonParent, 
   .commonParent ul {
       flex-direction: column;
   }

   .list {
       flex-direction: column;
       align-items: center;
       margin-top: 80px;
       background-color: #ebebeb;
       width: 100%;
       padding-top: 50px;
       padding-bottom: 50px;
   }

   .thirdSection {
       justify-content: center;
   }

   .thirdSection h3 {
       line-height: 20px;
   }

   section.wrapper:nth-child(4) {
       margin-top: 0px;
   }

   .firstHome p {
       padding-bottom: 23px;
   }

   .firstHome {
       padding-bottom: 35px;
   }

   .topless {
       padding-top: 55px;
   }

   .imageList,
   .list ul,
   .list {
       margin: 0 auto;
   }

   .list {
       width: 100%;
       padding-left: 10%;
       padding-right: 10%;

   }

   .thirdSection {
       margin: 0 auto;
       height: 100%;
   }

   .gridWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .one {grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    }

    .fourthSection p {
        margin-bottom: 30px;
    }

    .one > h3:nth-child(1) {
        margin-left: 0px;
        margin-top: 30px;
    }

    .fourthSection h2 {
        padding-top: 50px;
    }

    .fifthSection {
        flex-direction: column;
        align-items: center;
    }

    .fifthSection p {
        padding-bottom: 45px;
    }

    .green {
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }

    .fifthSection .green {
        width: 100%;
    }

    .fifthSection .picture {
        width: 100%;
    }

    .blogPage h1 {
        font-size: 35px;
    }

    .blogFirst h4 {
        letter-spacing: 0;
        font-size: 14px;
    }

    div.blogTop:nth-child(3) > p:nth-child(2),
    div.blogTop:nth-child(1) > p:nth-child(2), 
    .rightBlogParent > div:nth-child(2) > p:nth-child(2) {
        letter-spacing: 0;
        line-height: 20px;
    }

    .blogParent > div:nth-child(2) > h4:nth-child(1) {
        margin-top: 24px;
    }
    .blogPage .fa.fa-bars {
        top: -61px;
    }

    .blogParent {
        padding-bottom: 5px;
    }

    section.wrapper:nth-child(1) > p:nth-child(2) {
        padding-bottom: 20px;
    }

    .contactParent {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .oneThird {
        flex-basis: 100%;
        padding-bottom: 18px;
    }

    .contactFirst h1 {
        text-align: center;
        transform: none;
        width: 100%;
        padding-top: 22px;
        padding-bottom: 20px;
        border: none;
    }

    .commentLeave p {
        line-height: 22px;
    }

    .commentLeave h3 {
        padding-top: 0px;
    }

    .littleCircle {
        margin-bottom: 30px;
    }

    .submit.contact {
        width: 100%;
    }

    .submit {
        text-align: center;
        text-decoration: underline;
        border: none;
        width: 100%;
    }

    form.form input[type="text"] {
        width: 42%;
    }

    form.form button {
        width: 9%;
    }
}

@media(max-width:600px) {
    .circle {
        transform: translate(-126px, 91px);
    }

    .circle img {
        width: 45%;
    }

    .imagesFirstSection {
        margin-top: -140px;
    }

    .calendar img {
        max-width: 400px;
    }

    form.form input[type="text"] {
        width: 52%;
    }

    form.form button {
        width: 13%;
    }

}

@media(max-width: 524px) {
    .circle {
        transform: translate(-89px, 89px);
    }

    .calendar img {
        max-width: 320px;
    }

    .imagesFirstSection {
        margin-top: -141px;
    }

    
}

@media(max-width: 455px) {
    .imagesFirstSection {
        margin-top: -95px;
    }
    
    .calendar img {
        max-width: 280px;
    }

    .circle > img:nth-child(1) {
        max-width: 120px;
    }

    .circle {
        transform: translate(-102px, 48px)
    }

    form.form input[type="text"] {
        width: 64%;
    }

    form.form button {
        width: 15%;
    }

}

