@media(max-width: 1156px) {
    .gridWrapper {
    display: grid;
    grid-template-rows: 210px 210px;
    grid-template-columns: 210px 210px 210px 210px;
    grid-gap: 20px;
    justify-content: center;
    }

    .one {grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
}

    .thirdSection p {
        line-height: 1.5;
    }

}

@media(max-width: 931px) {
    .thirdSection p {
        font-size: 13px;
    }

    .thirdSection h3 {
        line-height: 15px;
        font-size: 15px;
    }
}

@media(max-width: 909px) {
     .gridWrapper {
        display: grid;
        grid-template-rows: 270px 270px;
        grid-template-columns: 270px 270px;
        grid-gap: 40px;
        justify-content: center;
    }

    .one {grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    }

}