@media(max-width: 1306px) {
    .threePicturesParent {
        justify-content: center;
    }

    .threePics {
    width: calc(33.33% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}
}

@media(max-width: 1209px) {
    .commonParent li {
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .gridWrapper {
    display: grid;
    grid-template-rows: 240px 240px;
    grid-template-columns: 240px 240px 240px 240px;
    grid-gap: 20px;
    justify-content: center;
    }

    .one {grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
}

}

@media(max-width: 1067px) {
    .commonParent li {
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .gridWrapper {
        display: grid;
        grid-template-rows: 270px 270px;
        grid-template-columns: 270px 270px;
        grid-gap: 40px;
        justify-content: center;
    }

    .one {grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    }

}

@media(max-width: 944px) {
    .commonParent nav {
        display: none;
    }

    .fa.fa-bars {
        visibility: visible;
        right: 45px;
        top: -62.5px;
        font-size: 33px;
    }

    .firstHome {
        padding-bottom: 90px;
    }

    .imagesFirstSection {
        margin-top: -205px;
    }

    footer p {
        font-size: 12px;
    }

    footer h4 {
        padding-bottom: 8px;
        font-size: 16px;
    }

    .secondSection {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .thirdSection {
        height: 80vh;
    }

    .green {
        padding-right: 40px;
        padding-left: 40px;
    }

    .fourthSection h2 {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .imageList {
        padding-bottom: 0;
        padding-top: 0;

    }

    .fifthSection {
        margin-top: 100px;
    }

    .fifthSection p {
        padding-bottom: 25px;
        padding-top: 5px;
    }

    .blogPage h1 {
        font-size: 44px;
    }

    div.blogTop {
        margin-left: 35px;
    }

    .blogTop p {
        padding-bottom: 15px;
    }

    .rightBlogParent {
        margin-left: 20px;
    }

    .contactOptionsParent {
        padding-top: 23px;
    }

    .contactOptionsParent .borderLeft {
        padding-left: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .contactOptionsParent > div:nth-child(1) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media(max-width: 791px) {
    //home
    header.home {
        height: 85vh;
    }

    h1 {
        font-size: 35px;
    }

    .fa.fa-bars {
        top: -65.5px;
        font-size: 33px;
    }

    .circle > img:nth-child(1) {
        width: 80%;
    }

    .circle {
    transform: translate(-180px, 128px);
    z-index: 1;
    }

    .calendar {
        padding-bottom: 35px;
    }

    .calendar > img:nth-child(1) {
        width: 95%;
        margin: 0 auto;
    }

    .firstHome h2 {
        font-size: 16px;
    }

    .firstHome p, 
    .secondSection p {
        width: 57%;
    }

    p {
        font-size: 13px;
    }

    .fas.fa-chevron-left, 
    .fas.fa-chevron-right {
        font-size: 30px;
    }

    .topless img {
        width: 40%;
    }

    .imagesFirstSection {
        margin-top: -175px;
    }

    .firstHome {
        padding-bottom: 70px;
    }

    .secondSection {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .littleCircle {
        min-width: 50px;
        min-height: 50px;
        margin-right: 22px;
    }

    .thirdSection h3 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .fourthSection h2 {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .list .fas.fa-magic, .list .fas.fa-tv, .list .fas.fa-sliders-h, .list .fas.fa-search, .list .fas.fa-shopping-bag, .list .far.fa-smile {
        font-size: 24px;
    }

    .list ul {
        width: 320px;
    }

    .fourthSection h2 {
        font-size: 25px;
    }

    .fourthSection h3 {
        font-size: 16px;
    }

    .one > h3:nth-child(1) {
        margin-left: 10px;
    }

    .fourthSection p {
        margin: 0 30px 0 30px;
    }

    .fifthSection {
        margin-top: 70px;
    }

    .fifthSection h3 {
        font-size: 20px;
        line-height: 15px;
    }

    .button {
        font-size: 13px;
    }

    .footerParent {
        display: block;
        margin: 0 auto;
    }

    .iconParent {
        display: flex;
        justify-content: center;
    }

    .iconParent i {
        padding-right: 5px;
        padding-left: 5px;
    }

    ul.dots {
        list-style-type: none;
    }

    footer {
        padding-top: 120px;
        padding-bottom: 45px;
    }

    p.bottom {
        margin-top: 70px;

    }

    form.form input[type="text"]{
        width: 60%;
        margin-left: 12%;
    }

    form.form button {
        width: 15%;
    }

    footer h4 {
        text-align: center;
        padding-top: 18px;
    }

    footer p {
        font-size: 13px;
        text-align: center;
    }

    // blog
    header.blog {
        height: 85vh;
    }

    .blogPage h2 {
        font-size: 35px;
    }

    .blogPage h1 {
        font-size: 38px;
    }

    .blogFirst p {
        padding-bottom: 25px;
    }

    .blogText .bold {
        margin-top: 35px;
    }

    .rightBlogParent {
        margin-left: 0;
    }

    div.blogTop {
        margin: 0 auto;
        text-align: center;
    }

    .bigBlogParent {
        flex-direction: column;
    }

    .alexPicture img {
        margin: 0 auto;
    }

    .alexPicture,
    .blogParent > div:nth-child(2) {
        margin-right: 10px;
        margin-left: 10px;
    }

    .blogParent {
        margin: 0 auto;
    }
}   